<div class="row">
    <div class="col-md-6">
        <h2 *ngIf="action == 'add' ">Input consumer</h2>
        <h2 *ngIf="action == 'update' ">Update consumer</h2>
        <form ngNativeValidate (submit)="onSubmit()">
            <div class="mb-3">
                <select class="form-select" name="selectValueForInsurance" [(ngModel)]="consumer.insuranceSetupId"
                    required>
                    <option value="" selected>Select an insurance setup</option>
                    <option *ngFor="let item of setupSource" value="{{item.insuranceSetupId}}">
                        {{item.setupName}}
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Consumer Name</label>
                <input type="text" name="consumerName" class="form-control" [(ngModel)]="consumer.consumerName"
                    required>
            </div>
            <div class="mb-3">
                <label class="form-label">Basic Salary</label>
                <input type="number" name="basicSalary" class="form-control" [(ngModel)]="consumer.basicSalary"
                    required>
            </div>
            <div class="mb-3">
                <label class="form-label">Birth Date</label>
                <!-- <input type="date" class="form-control" name="birthDate" value="{{consumer.birthDate}}" [(ngModel)]="consumer.birthDate  " required> -->
                <input type="date" class="form-control" name="birthDate" value="{{consumer.birthDate}}" [ngModel]="consumer.birthDate | date: 'yyyy-MM-dd' " (ngModelChange)="dateChange(consumer.birthDate = $event)" required>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary" name="preview" (click)="onPreviewClick()">Preview</button>
                <button type="submit" class="btn btn-success" name="add" >Submit</button>
            </div>

        </form>
        <!-- {{consumer | json}} -->
    </div>
    <div class="col-md-6">
        <app-benefit-detail [benefits]=benefits></app-benefit-detail>
    </div>
</div>